.avatar{
    height: 55px;
    background: white;
    cursor: pointer;
}
.avatar img{
    height: 100%;
}
.bar-item{
    display: table;
    width: 100%;
    direction:ltr;
    cursor: pointer;
    white-space: nowrap;
    padding: 3px;
    margin: 3px 0 3px 0;
    height: 60px;
}
.block-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.flat-btn{
    border: none;
    outline: none;
}
.flat-btn:hover{
    background: rgba(0,0,0,0.2);
}
.flash-error{
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    border-radius: 5px;
    padding: 10px 20px 5px!important;
    margin: 15px;
}
.flash-success{
    color: #2a8426;
    background: #eafdeb;
    border-left: 3px solid #caeed0;
    padding: 10px 20px 10px!important;
    margin: 15px;
}
.flash-warning{
    color: #7f6532;
    background: #fffbe5;
    border-left: 3px solid #e8c33f;
    padding: 10px 20px 10px!important;
    margin: 15px;
}
.friend-avatar{
    display: table-cell;
    float: left;
    border: solid rgba(0,0,0,0.2) 1px;
    border-radius: 100%;
    width: 54px;
    height: 54px;
}
.friend-avatar .img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.friend-name{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 15px;
}
#modal .modal-lg{
    top: 50%;
    transform: translate(0, -60%);
    -webkit-transform: translate(0, -60%);
    -ms-transform: translate(0, -60%);
    -o-transform: translate(0, -60%);
    -webkit-transition: -webkit-transform .5s ease-out;
    -o-transition: -o-transform .5s ease-out;
    transition: transform .5s ease-out;
}
#modal .modal-content{
    border-radius: 10px 6px 6px 10px;
}
#modal .modal-body{
    padding: 0!important;
}
.game-description{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 0;
    width: 100%;
}
.game-description .left-content{
    padding: 30px;
    text-align: center;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-gap: 30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #f7f7f7;
    background: #495057;
    width: 100%;
}
.game-description .left-content .game-icon{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
}
.game-description .left-content .game-icon img{
    width: 100%;
    height: 100%;
}
.game-description .left-content .game-name{
    padding: 15px;
    font-size: 28px;
    font-weight: bold;
}
.game-description .left-content .btn-play{
    width: 100%;
    height: 38px;
    font-size: 16px;
}
.game-description .right-content{
    position: relative;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    height: 100%;
}
.game-description .right-content .text-description{
    position: absolute;
    background : linear-gradient(transparent, white, silver);
    bottom: 0;
    width: 100%;
    opacity: 0.8;
    font-size: 18px;
    color: black;
    padding: 15px;
    border-bottom-right-radius: 6px;

}
.logo {
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: absolute;
    top: 17px;
}
.logo:hover{
    color: #3c8dbc!important;
}
.logo .dotcom{
    color: #3c8dbc;
}
.logout{
    background: transparent;
}
.nav-custom{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    z-index: 2;
    font-size: 17px;
    background-color: #5f5f5f;
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
}
.nav-custom .container{
    width: 100% !important;
}
.nav-custom .navbar-toggle{
    border: #f1f1f1 solid 2px;
    margin-right: 15px;
}
.nav-custom .icon-bar{
    background: #f1f1f1;
}
.pointer{
    cursor: pointer!important;
}
.roll{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
    color: #dcdcdc;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 1001;
    opacity: 0;
}
.roll:hover {
    opacity: 1;
}
.roll-content {
    display: table-cell;
    vertical-align: middle;
}
.site-body{
    margin-left: 60px;
}
.side-bar{
    position: fixed;
    background: white;
    height: 100%;
    width: 60px;
    right: 0;
    border-left: solid 1px rgba(0,0,0,0.2);
    z-index: 1001;
}
.side-bar .side-bar-footer{
    background: #5f5f5f;
    height: 30px;
}
.side-bar .list{
    margin-top: 2px;
    overflow-x: hidden;
    overflow-y: auto;
}
.side-bar .list::-webkit-scrollbar{
    width: 2px;
    background-color: #F5F5F5;
}
.side-bar .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #555;
}
.side-bar .list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.side-bar .list .bar-item:hover{
    background: rgba(0,0,0,0.1);
}
.side-bar .title{
    overflow-x: hidden;
    padding: 5px 10px 5px 10px;
    border-bottom: solid 1px;
    background: #5f5f5f;
}
.side-bar .title .expand{
    display: table;
    width: 100%;
    white-space: nowrap;
}
.side-bar .title .expand .btn-expand{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    border: solid 1px;
    border-radius: 4px;
    background: white;
}
.side-bar .title .expand .btn-expand .btn-expand-content{
    border: solid 2px #5f5f5f;
    margin: 5px;
    width: 30px;
}
.side-bar .title .expand .side-bar-title{
    color: white;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 15px;
}
.site-body .container {
    margin-top: 80px;
}
.site-body .container .item {
    margin-left: 20px;
    width: 320px;
}
.site-body .container .grid-item {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    float: left;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.site-body .container .grid-item:hover {
    -webkit-box-shadow: 15px 15px 20px -10px rgba(0,0,0,0.35);
    -moz-box-shadow: 15px 15px 20px -10px rgba(0,0,0,0.35);
    box-shadow: 15px 15px 20px -10px rgba(0,0,0,0.35);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.site-body .container .game-item{
    background: white;
    border: solid rgba(0,0,0,0.2) 1px;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 344px 50px;
}
.site-body .container .game-item .game-thumbnail{
    position: relative;
    padding: 2px;
}
.site-body .container .game-item .game-thumbnail .img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 100%;
}
.site-body .container .game-item .game-info{
    padding: 5px 15px 5px 15px;
    background: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.site-body .container .game-item .game-title{
    font-size: 36px;
    font-weight: bold;
}
.text-small{
    font-size: 14px;
    font-weight: lighter;
    text-decoration: underline;
}
.top{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    background-color: #ffffff;
    height: 68px;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
}
.wrap{
    background: #f1f1f1!important;
}
@media (max-width: 600px) {
    .describe-hide-small{
        display: none;
    }
}
@media (max-width: 912px) {
    .top {height:100px}
    .top img {display:block;margin:auto;}
    .top .logo {position:relative;top:0;width:100%;text-align:center;margin:auto}
    .toptext {width:100%;text-align:center}
}
